/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  background: #cf0;
}
#fname {
  font-weight: 800;
  background: #ffffff;
  padding: 1em;
  /* = 16px = 1rem (root em)*/
  width: 100%;
}
#fname:before {
  content: "My name is" "\0020" "";
}
#fname:after {
  content: "\0020 and Im" "\0020" attr(data-age);
}
#fname:nth-child(even) {
  background: #f0ffb3;
}
[lang="fr"] #fname:before {
  content: "Mon nom est" "\0020" "";
}
[lang="fr"] #fname:after {
  content: "\0020 et j'ai" "\0020" attr(data-age);
}
#main-wrapper {
  font-size: 5em;
  width: 50vw;
  height: 50vh;
  background: #8fb300;
  margin: auto;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: none;
}
#main-wrapper:target {
  display: block;
}
#main-block {
  font-size: 1em;
  width: 10rem;
  height: 10rem;
  background: #526600;
  position: absolute;
  bottom: calc(50% -  10rem / 2);
  right: calc(50% - 10rem/ 2);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.btn {
  background: white;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  padding: 0.5em;
  cursor: crosshair;
}
.btn:hover {
  background: #ccc;
}
[type="checkbox"] {
  display: none;
}
[type="checkbox"]:checked + #main-wrapper {
  display: block;
}
